@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: circular-medium;
  src: url("/fonts/circular-std-medium-500.ttf");
}

@font-face {
  font-family: circular-bold;
  src: url("/fonts/CircularStd-Bold.ttf");
}

@font-face {
  font-family: circular-book;
  src: url("/fonts/CircularStd-Book.ttf");
}

html,
body {
  overflow-x: hidden;
}
